.sisu {
    margin-top: 50px;
    padding-left: 90px;
    padding-right: 90px;
}
@media screen and (max-width: 800px) {
    .sisu {
        padding-top: 20px;
        padding-left: 13px;
        padding-right: 13px;
    }
    .logo {
        display: none;
    }
    .navbar-dropdown {
        display: none;
    }

}